In [1]:
import pandas as pd

In [68]:
data = pd.read_csv('C:/Users/Vlad/Desktop/DB_Movie/Genre.csv')

In [70]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
Unnamed: 0           10 non-null int64
GenreCategoryName    10 non-null object
gen_id               10 non-null int64
dtypes: int64(2), object(1)
memory usage: 320.0+ bytes

In [69]:
data.head()

   Unnamed: 0 GenreCategoryName  gen_id
0           0            Comedy       0
1           1            Action       1
2           2             Drama       2
3           3          Thriller       3
4           4         Adventure       4

In [64]:
data.to_csv('C:/Users/Vlad/Desktop/DB_Movie/Genre.csv')